h1 {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
}

.container {
  min-height: 90vh;
  padding: pxToEm(20px);
  font-family: Consolas, monaco, monospace;
  display: flex;
  gap: pxToEm(50px);

  &__content {
    padding: pxToEm(20px);
    border: 1px solid #000;
    border-radius: pxToEm(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: pxToEm(20px);
  }

  &__drag-drop {
    // width: pxToEm(600px);
    height: pxToEm(250px);
    overflow-x: scroll;
    margin-bottom: auto;
  }

  &__image {
    width: 100%;
  }

  &__buttons {
    display: flex;
    gap: pxToEm(10px);
    flex-direction: column;
    width: pxToEm(300px);
  }

  &__button {
    height: pxToEm(40px);
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &__text {
    width: 100%;
    min-height: pxToEm(500px);
    border: 1px solid #000;
    border-radius: pxToEm(10px);
    padding: pxToEm(20px);
    display: flex;
    flex-direction: column;
    gap: pxToEm(20px);
  }
  
  &__textarea {
    padding: pxToEm(10px);
    width: 100%;
    height: 100%;
    min-height: pxToEm(300px);
    font-size: 1.2em;
    line-height: 1.3em;
    white-space: pre-wrap;
    overflow: scroll;
    border: 1px solid #878787;
  }

  &__loading-status {
    text-align: center;
  }

  &__file-size {
    text-align: center;
  }

  &__file-size-warning {
    color: red;
    text-align: center;
  }
}

.copy-button {
  width: pxToEm(300px);
}

.text {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: pxToEm(10px);
  }

  &__main-buttons {
    display: flex;
    flex-direction: column;
    gap: pxToEm(10px);
  }

  &__replace-buttons {
    display: flex;
    flex-direction: column;
    gap: pxToEm(10px);
  }
}

button {
  background: #000;
  color: #fff;
  transition: all 0.15s ease-in-out, box-shadow 50ms ease-in-out;
  border: 1px solid #000;

  &:hover {
    background: #fff;
    color: #000;
  }

  &:active {
    box-shadow: inset 0 0 0 pxToEm(2px) #000;
  }
}

button:disabled {
  opacity: 0.5;

  &:hover {
    background: #000;
    color: #fff;
  }

  &:active {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;

    &__text {
      align-items: center;
    }
  }

  button {
    &:hover {
      background: #000;
      color: #fff;
    }
    &:active {
      background: #fff;
      color: #000;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    &__drag-drop {
      width: pxToEm(600px);
    }
  }
}